.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  // flex part of css
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//flex container
.content {
  display: flex;
}

//flex item
.sidebar {
  background-color: var(--color-grey-dark-1);

  // flex-basis: ;
  // grow shrink size
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//flex item
.hotel-view {
  background-color: #fff;
  flex: 1;

  /// testing
  // height: 80rem;
}

// detail layout - description + user-review

// nice symmetric effect with the same padding and margin!
.detail {
  font-size: 1.4rem;

  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  // background-color: green;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
